/* Stilurile de bază și utilitare Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  text-align: left !important;
}

html, body {
  scroll-behavior: smooth;
}

body {
 background-image: url('https://cursuri.net/it/openai/background.jpg');
 background-color: black;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

main {
  max-width: 800px;
  margin: auto;
}

form {
  position: sticky;
  bottom: 0;
}

nav li a {
  padding: 5px;
}

.girl-front {
  width: 105%;
  top: -350px;
  height: auto;
  position: relative;
}

.word-scroller {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

.word-scroller h1 {
  transition: transform 1s ease-in-out, opacity 1s ease-in-out;
  transform: translateY(0);
  opacity: 1;
}

.word-scroller .scroll-up {
  transform: translateY(-100%);
  opacity: 0;
}


@media screen and (max-width: 1024px) {
  .girl-front {
    top:-200px;
  }
}